@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);





body {
  font-family: Josefin Sans;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Cormorant Upright', serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Cormorant Upright', serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #e2f7df !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #69b9d0 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #e2f7df !important;
  border-color: #e2f7df !important;
  color: #3bac2b !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #3bac2b !important;
  background-color: #abe8a2 !important;
  border-color: #abe8a2 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #3bac2b !important;
  background-color: #abe8a2 !important;
  border-color: #abe8a2 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #73d964 !important;
  border-color: #73d964 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #42c12f !important;
  border-color: #42c12f !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #42c12f !important;
  border-color: #42c12f !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d !important;
  border-color: #98e38d !important;
  color: #1f5b16 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #98e38d;
  color: #98e38d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #3bac2b;
  background-color: #e2f7df;
  border-color: #e2f7df;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #3bac2b !important;
  background-color: #e2f7df !important;
  border-color: #e2f7df !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #3bad2a;
  color: #3bad2a;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #73d964;
  border-color: #73d964;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #73d964 !important;
  border-color: #73d964 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3288a1;
  color: #3288a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #69b9d0;
  border-color: #69b9d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e2f7df !important;
}
.text-secondary {
  color: #73d964 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #69b9d0 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #98e38d !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #3bad2a !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3288a1 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #69b9d0;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e2f7df;
  border-color: #e2f7df;
  color: #42c030;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #e2f7df;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
  background: transparent;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffbc00;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: transparent;
  opacity: .7;
  transition: .3s;
  text-align: center;
  width: auto;
}
.mbr-arrow:hover {
  opacity: 1;
}
.mbr-arrow a {
  display: block;
}
.mbr-arrow a i {
  color: #ffbc00;
  top: auto !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #efefef;
  box-shadow: none;
  color: #565656;
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
  line-height: 1.43;
  min-height: 53px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 0;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
.form-control,
.form-control:focus {
  outline: none;
  background-color: #efefef;
  border: 1px solid #e8e8e8;
  box-shadow: none;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #e2f7df;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #e2f7df;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #e2f7df;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e2f7df;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  border-radius: 0;
  background-color: #efefef;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e2f7df;
  border-bottom-color: #e2f7df;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #e2f7df !important;
  box-shadow: none!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #73d964 !important;
  box-shadow: none !important;
}
.cid-rpJNRW3heC .nav-item:focus,
.cid-rpJNRW3heC .nav-link:focus {
  outline: none;
}
.cid-rpJNRW3heC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rpJNRW3heC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rpJNRW3heC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rpJNRW3heC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rpJNRW3heC .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rpJNRW3heC .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #444444;
  background: none;
}
.cid-rpJNRW3heC .navbar.opened {
  transition: all .3s;
  background: #444444 !important;
}
.cid-rpJNRW3heC .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rpJNRW3heC .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rpJNRW3heC .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rpJNRW3heC .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rpJNRW3heC .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rpJNRW3heC .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rpJNRW3heC .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rpJNRW3heC .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rpJNRW3heC .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rpJNRW3heC .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rpJNRW3heC .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rpJNRW3heC .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rpJNRW3heC .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rpJNRW3heC .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rpJNRW3heC .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rpJNRW3heC .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rpJNRW3heC .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rpJNRW3heC .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rpJNRW3heC .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rpJNRW3heC .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rpJNRW3heC .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rpJNRW3heC .navbar.navbar-short {
  background: #444444 !important;
  min-height: 60px;
}
.cid-rpJNRW3heC .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rpJNRW3heC .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rpJNRW3heC .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rpJNRW3heC .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rpJNRW3heC .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rpJNRW3heC .dropdown-item.active,
.cid-rpJNRW3heC .dropdown-item:active {
  background-color: transparent;
}
.cid-rpJNRW3heC .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rpJNRW3heC .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rpJNRW3heC .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rpJNRW3heC .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #444444;
}
.cid-rpJNRW3heC .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rpJNRW3heC .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rpJNRW3heC ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rpJNRW3heC .navbar-buttons {
  text-align: center;
}
.cid-rpJNRW3heC button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rpJNRW3heC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #efefef;
}
.cid-rpJNRW3heC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rpJNRW3heC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rpJNRW3heC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rpJNRW3heC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rpJNRW3heC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rpJNRW3heC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rpJNRW3heC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rpJNRW3heC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rpJNRW3heC .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rpJNRW3heC a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rpJNRW3heC .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rpJNRW3heC .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rpJNRW3heC .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-rpJNRW3heC .nav-link:hover,
.cid-rpJNRW3heC .dropdown-item:hover,
.cid-rpJNRW3heC .icons-menu .mbr-iconfont:hover {
  color: #cccccc !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rpJNRW3heC .navbar {
    height: 77px;
  }
  .cid-rpJNRW3heC .navbar.opened {
    height: auto;
  }
}
.cid-rpJO8Uj2Ja {
  background-image: url("../../../assets/images/screenshot-2019-05-26-at-21.29.28-2000x1319.png");
}
.cid-rpJO8Uj2Ja .mbr-overlay {
  background: #232323;
}
.cid-rpJO8Uj2Ja .mbr-section-title {
  letter-spacing: .5rem;
  color: #ffffff;
}
.cid-rpJO8Uj2Ja .mbr-text,
.cid-rpJO8Uj2Ja .mbr-section-btn {
  color: #ffffff;
}
.cid-rpJO8Uj2Ja .mbr-section-subtitle B {
  color: #ffffff;
}
.cid-rqbJoJUptm {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rqbJoJUptm .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.cid-rqbJoJUptm .text-block {
  position: relative;
  z-index: 0;
}
.cid-rqbJoJUptm .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-rqbJoJUptm .box {
  left: 20%;
}
.cid-rqbJoJUptm .text-box {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cid-rqbJoJUptm .mbr-section-text,
.cid-rqbJoJUptm .mbr-section-title {
  margin-left: 31%;
  margin-left: 0;
}
@media (max-width: 800px) {
  .cid-rqbJoJUptm .text-box {
    display: none;
  }
  .cid-rqbJoJUptm .mbr-section-title,
  .cid-rqbJoJUptm .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 400px) {
  .cid-rqbJoJUptm .box {
    display: none;
  }
  .cid-rqbJoJUptm .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rqbJoJUptm .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rqbJoJUptm .text-box {
    writing-mode: bt-rl;
  }
}
.cid-rqbJoJUptm .mbr-section-text DIV {
  text-align: left;
}
.cid-rqbJoJUptm .mbr-section-text {
  text-align: left;
}
.cid-rqcT8dYhyc {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-rqcT8dYhyc .mbr-section-title {
  letter-spacing: 0.1em;
  text-align: center;
}
.cid-rqcT8dYhyc .mbr-section-subtitle {
  color: #e2f7df;
}
.cid-rqcT8dYhyc .image-wrap img {
  width: 100%;
}
.cid-rqcT8dYhyc .mbr-desc {
  width: 100%;
}
.cid-rqcT8dYhyc .tab-content {
  padding: 4rem 3rem 3rem 3rem;
  border-top: 3px solid #bdecb6;
  -webkit-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.cid-rqcT8dYhyc .nav {
  border: none;
}
.cid-rqcT8dYhyc .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rqcT8dYhyc .card-box {
  -webkit-align-items: baseline;
  align-items: baseline;
}
.cid-rqcT8dYhyc .card-box .mbr-price {
  margin: 0;
}
.cid-rqcT8dYhyc .card-box .mbr-text {
  line-height: 1;
}
.cid-rqcT8dYhyc .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  padding: .5rem 1rem;
  margin: 0px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-bottom: 1rem;
  transition: all .5s;
  border: 0 !important;
}
.cid-rqcT8dYhyc .nav-tabs .nav-link:hover {
  color: #bdecb6;
  border: 0 !important;
}
.cid-rqcT8dYhyc .nav-tabs .nav-link.active {
  color: #bdecb6;
  border: 0 !important;
  background-color: transparent;
  position: relative;
}
@media (max-width: 767px) {
  .cid-rqcT8dYhyc .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.cid-rqdcHQOHgm {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rqdcHQOHgm .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rqdcHQOHgm .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rqdcHQOHgm .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rqdcHQOHgm .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rqdcHQOHgm .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #232323, #e2f7df);
}
.cid-rqdcHQOHgm .icon-focus {
  display: none;
}
.cid-rqdcHQOHgm .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: left;
  display: none;
  width: 100%;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-rqdcHQOHgm ul {
  font-size: 0;
}
.cid-rqdcHQOHgm .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #232323 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-rqdcHQOHgm .mbr-gallery-filter ul li .btn.active {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-rqdcHQOHgm .mbr-gallery-filter ul li .btn.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #e2f7df, #73d964);
}
.cid-rqdcHQOHgm .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-rqdcHQOHgm .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-rqdcHQOHgm .mbr-gallery-item > div:hover:before {
  opacity: 0.8 !important;
}
.cid-rqdcHQOHgm .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-rqdcHQOHgm .btn:hover {
  background: transparent !important;
}
.cid-rqdcHQOHgm .btn:hover:before {
  background: transparent !important;
}
.cid-rqdcHQOHgm .btn:before {
  background-color: transparent !important;
}
.cid-rqdcHQOHgm .btn:focus {
  box-shadow: none;
}
.cid-rqdcHQOHgm .mbr-section-title {
  position: relative;
  z-index: 1;
}
.cid-rqc2MEUNJq {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rqc2MEUNJq *:focus {
  outline: none;
  box-shadow: none;
}
.cid-rqc2MEUNJq .form-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.cid-rqc2MEUNJq .img-block {
  display: flex;
}
.cid-rqc2MEUNJq .img-block img {
  object-fit: cover;
  object-position: center center;
  min-height: 100%;
}
.cid-rqc2MEUNJq .form-control {
  padding: 10px 20px;
  border: 1px solid #dedede;
  border-radius: 0;
  min-height: 51px;
  background-color: transparent;
}
@media (max-width: 767px) {
  .cid-rqc2MEUNJq .img-block {
    padding-bottom: 3rem;
  }
  .cid-rqc2MEUNJq .form-1 {
    padding-top: 0;
  }
}
.cid-rqcNWXzvpl {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rqcNWXzvpl .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rqcNWXzvpl .carousel-item.active,
.cid-rqcNWXzvpl .carousel-item-next,
.cid-rqcNWXzvpl .carousel-item-prev {
  display: flex;
}
.cid-rqcNWXzvpl .carousel-controls a {
  transition: opacity .5s;
  font-size: 2rem;
}
.cid-rqcNWXzvpl .carousel-controls a span {
  position: absolute;
  top: 180px;
  padding: 10px;
  border-radius: 50%;
  color: #000000;
  background: #ffffff;
  opacity: .9;
}
.cid-rqcNWXzvpl .carousel-controls a:hover span {
  opacity: 1;
}
.cid-rqcNWXzvpl .user {
  padding: 3rem;
  background: transparent;
}
.cid-rqcNWXzvpl .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  background: #ffffff;
  margin: 0 auto 2rem auto;
  display: flex;
  -webkit-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
}
.cid-rqcNWXzvpl .user_image .user_image_inner {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  margin: auto;
}
.cid-rqcNWXzvpl .user_image .user_image_inner img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-rqcNWXzvpl .user_text {
  color: #444444;
}
@media (max-width: 230px) {
  .cid-rqcNWXzvpl .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-rqbUCnCecN {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-rqbUCnCecN .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-rqbUCnCecN .content-panel {
  padding: 3rem;
  background-color: #444444;
}
@media (min-width: 767px) {
  .cid-rqbUCnCecN .text-block {
    padding-right: 0;
  }
}
.cid-rqbUCnCecN .google-map {
  width: 100%;
  height: 30rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-rqbUCnCecN .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rqbUCnCecN .google-map iframe .place-card {
  margin-left: 40px !important;
}
.cid-rqbUCnCecN .google-map .place-card {
  margin-left: 40px !important;
}
.cid-rqbUCnCecN .adress-block {
  color: #ffffff;
}
.cid-rqbUCnCecN .adress-block B {
  color: #ffffff;
}
.cid-rqbUF11wka {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #444444;
}
.cid-rqbUF11wka .icons-block .mbr-iconfont {
  font-size: 1.5rem;
  color: #000000;
  opacity: .5;
}
.cid-rqbUF11wka .icons-block .mbr-iconfont:hover {
  opacity: 1;
}
.cid-rqbUF11wka .links-block ul li {
  margin: 0 1rem;
}
.cid-rqbUF11wka .icons-block ul li {
  margin: 0 .5rem;
}
.cid-rqbUF11wka .links-block ul,
.cid-rqbUF11wka .icons-block ul {
  margin-bottom: 1.5rem;
}
